{% sw_extends "@Storefront/storefront/page/checkout/checkout-item.html.twig" %}

{% block page_checkout_item_info_inner %}
    {{ parent() }}


    {% if page.cart.errors is not empty
        and page.cart.errors.elements is not empty
        and page.cart.errors.elements['tonur.packstation.product-shipping-address-blocked-address-is-packstation'] is not empty %}

        {% if lineItem.type == 'product' and (lineItem.payload.customFields is empty or lineItem.payload.customFields['repertus_packstation_delivery_enabled'] is empty) %}
            <div class="tonur_packstation_checkout_item_info_text">Dieser Artikel kann nicht an eine Packstation versandt werden.</div>
        {% endif %}
    {% endif %}

{% endblock %}
