{% sw_extends "@Storefront/storefront/component/account/register.html.twig" %}

{% block component_account_register_form %}
    {{ parent() }}
    {% if repertusPackstationConfig is defined and repertusPackstationConfig.pluginActive %}
        {% sw_include '@Storefront/storefront/component/packstation/packstation-search-form.html.twig' %}
    {% endif %}
{% endblock %}
