{% sw_extends "@Storefront/storefront/component/address/address-editor-modal.html.twig" %}

{% block component_address_address_editor_modal_accordion_list_include %}
    {{ parent() }}
    {% if repertusPackstationConfig is defined and repertusPackstationConfig.pluginActive %}
        {% sw_include '@Storefront/storefront/component/packstation/packstation-search-form.html.twig' %}
        {% if changeBilling and page.extensions and page.extensions.tonurPackstationHasPackstationAddresses %}
            {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                type:"info",
                content: "tonur.packstation.messages.no_packstation_address_for_billing_info"|trans|sw_sanitize
            } %}
        {% endif %}
    {% endif %}
{% endblock %}
