{% sw_extends "@Storefront/storefront/component/address/address-form.html.twig" %}

{% block component_address_form %}
    {% if config('TonurPackstation6.config.pluginActive') %}
        {% if prefix != "billingAddress" %}
            {% block component_address_form_repertus_packstation %}

                {% set packstationExtension = data.get('extensions')['repertusPackstation'] %}
                {% set packstationType = packstationExtension.get('packstationType') %}
                {% set packstationCountryIdGermany = page.extensions.tonurPackstationCountryUuidGermany %}

                {% set packStationFormOptions = {
                    "streetValues": {
                        "packstation": "tonur.packstation.street_values.packstation"|trans,
                        "postOffice": "tonur.packstation.street_values.post_office"|trans,
                    },
                    "selectors": {
                        "addressType": 'input[type="radio"][name="' ~ prefix ~ '[repertusPackstationAddressType]"]',
                        "dhlNumberSaveTo": '[name="' ~ prefix ~ '[' ~ config('TonurPackstation6.config.savePostnumberField') ~ ']"]',
                        "street": '[name="' ~ prefix ~ '[street]"]',
                        "city": '[name="' ~ prefix ~ '[city]"]',
                        "zip": '[name="' ~ prefix ~ '[zipcode]"]',
                        "country": '[name="' ~ prefix ~ '[countryId]"]',
                        "countryState": '[name="' ~ prefix ~ '[countryStateId]"]',
                        "vatId": '[name="' ~ prefix ~ '[vatId]"]',
                        "department": '[name="' ~ prefix ~ '[department]"]'
                    },
                    "config": config('TonurPackstation6.config')|filter((_, key) => not(key starts with 'dhl')),
                    "countryIdGermany": packstationCountryIdGermany
                } %}

                {% set defaultBillingAddress = context.customer.defaultBillingAddressId %}

                {% if not (changeBilling or (defaultBillingAddress is not null and data.get('id') == defaultBillingAddress))%}
                    {% block component_address_form_repertus_packstation_fieldset %}
                        {% sw_include '@Storefront/storefront/component/packstation/packstation-fieldset.html.twig' %}
                    {% endblock %}
                {% endif %}
            {% endblock %}
        {% endif %}
    {% endif %}
    {{ parent() }}
{% endblock %}
