{% sw_extends "@Storefront/storefront/page/account/addressbook/address-actions.html.twig" %}

{% block page_account_address_actions_set_default_billing %}

    {% if repertusPackstationConfig is defined and repertusPackstationConfig.pluginActive %}
        {% if not address.get('extensions')['repertusPackstation'] %}
        {{ parent() }}
        {% endif %}
    {% else %}
        {{ parent() }}
    {% endif %}


{% endblock %}
