{% sw_extends "@Storefront/storefront/page/account/addressbook/create.html.twig" %}

{% block page_account_address_form_create %}
    {{ parent() }}
    {% if repertusPackstationConfig is defined and repertusPackstationConfig.pluginActive %}
        {% sw_include '@Storefront/storefront/component/packstation/packstation-search-form.html.twig' %}
    {% endif %}
{% endblock %}
