#one-page-checkout {
    .checkout-container {
        .checkout-main {

            .repertus-packstation-one-page-checkout {
                max-width: 100%;
            }

            @media (min-width: 992px) {
                .repertus-packstation-one-page-checkout {
                    flex: 0 0 100%;
                }
            }

            @media (min-width: 992px) and (max-width: 1111px) {
                #repertusPackstationAddressType1Container {
                    display: flex;

                    label {
                        padding-left: 0.25rem !important;
                    }

                    .ml-4 {
                        margin-left: 0.5rem !important;
                    }
                }
            }
        }
    }
}
