.packstation {
    > .legend {
        position: relative;
        z-index: 1;
        pointer-events: none;

        ul {
            margin: 5px 0 0 5px;
            padding: 0;
            float: left;
            list-style: none;

            li {
                font-size: $font-size-sm;
                font-weight: $font-weight-bold;
                list-style: none;
                margin-left: 0;
                line-height: 18px;
                margin-bottom: 2px;

                span {
                    display: block;
                    float: left;
                    height: 16px;
                    width: 16px;
                    margin-right: 5px;
                    margin-left: 0;
                    border: 1px solid #999;
                    border-radius: 25px;
                };
            }
        }

    }
}
