.packstation {
  > .tonur-packstation-map-test-mode-overlay {
    position: absolute;
    z-index: 1;
    width: 100%;
    font-size: x-large;
    text-align: center;

    &.is--hidden {
      display: none;
    }
  }
}
