div[id^='packstationMap'] {
    height: 400px;

    .MicrosoftMap {
        .Infobox {
            .infobox-body {
                max-height: 250px!important;
                width: 100%!important;
            }
            .infobox-actions {
                box-sizing: content-box;
                height: 100% !important;
            }
        }
    }
}

.repertusPackstationMapModal {
    @extend .modal !optional;
}

.js-pseudo-modal {
    #addressEditorAccordion {
        .alert {
            margin-top: 1rem;
            margin-bottom: 0;
        }
    }
}

.tonur_packstation_checkout_item_info_text {
    padding-top: 5px;
    color: $sw-color-danger;
}

.tonur-packstation-cookie-missing-permission-text {
    font-size: $font-size-sm;

    &.is--hidden {
        display: none;
    }
}

.repertus-packstation-fieldset-address-types {
    display: flex;

    div:not(:first-child) {
        margin-left: 1.5rem;
    }
}
