{% block sw_condition_value_content %}
    <div class="tonur-condition-customer-shipping-packstation">
        {% block tonur_condition_customer_shipping_packstation %}
            <sw-single-select size="medium" :options="selectValues" v-model="isCustomerShippingPackstation"></sw-single-select>
        {% endblock %}
    </div>
{% endblock %}
