{% block repertus_packstation_component_packstation_fieldset %}
    <div class="repertusPackstationAddress"
        {% block repertus_packstation_component_packstation_fieldset_init_plugin %}
         data-tonur-packstation-form="true"
         data-tonur-packstation-form-options="{{ packStationFormOptions|json_encode }}"
        {% endblock %}
    >
        <div class="form-row">
            <div class="form-group repertus-packstation-fieldset-address-types repertus-packstation-one-page-checkout col-sm-6 col-12">
                {% block repertus_packstation_component_packstation_fieldset_address_types %}
                    <div>
                        <input type="radio" id="repertusPackstationAddressType0" name="{{ prefix }}[repertusPackstationAddressType]" value="0" checked="checked">
                        <label class="pl-1" for="repertusPackstationAddressType0">{{ "tonur.packstation.postaddress"|trans }}</label>
                    </div>
                    <div>
                        <input type="radio" id="repertusPackstationAddressType1" name="{{ prefix }}[repertusPackstationAddressType]" value="1"
                               {% if packstationExtension %}checked="checked"{% endif %}>
                        <label class="pl-1" for="repertusPackstationAddressType1">{{ "tonur.packstation.packstation_post_office"|trans }}</label>
                    </div>
                {% endblock %}
            </div>
            <div class="form-group repertus-packstation-one-page-checkout col-sm-6 col-12">
                {% block repertus_packstation_component_packstation_fieldset_search_button %}
                    <button
                        id="repertusPackstationShowMap"
                        class="btn-block btn btn-secondary float-right"
                        type="button"
                        data-tonur-packstation-map="true"
                        data-tonur-packstation-map-options='
                                    {
                                        "mapType": "{{ repertusPackstationConfig.mapType }}",
                                        "mapApiKey": "{{ repertusPackstationConfig.mapApiKey}}",
                                        "color": {
                                            "packstation": "{{ repertusPackstationConfig.colorPackstation }}",
                                            "postoffice": "{{ repertusPackstationConfig.colorPostoffice }}"
                                        },
                                        "shopPushPinLegend": "{{ repertusPackstationConfig.shopPushPinLegend }}",
                                        "snippets": {
                                            "select_packstation": "{{ "tonur.packstation.select_packstation"|trans }}",
                                            "no_packstation_found": "{{ "tonur.packstation.messages.no_packstation_found"|trans }}",
                                            "search_packstation_post_office": "{{ "tonur.packstation.search_packstation_post_office"|trans }}",
                                            "zip": "{{ "tonur.packstation.zip"|trans }}",
                                            "city": "{{ "tonur.packstation.city"|trans }}",
                                            "search": "{{ "tonur.packstation.search"|trans }}"
                                        },
                                        "isCookieRequestRequired": "{{ repertusPackstationConfig.cookieRequestRequired }}",
                                        "testMode": "{{ config('TonurPackstation6.config.testMode') }}",
                                        "validatePostNumber": "{{ config('TonurPackstation6.config.validatePostNumber') }}"
                                    }'
                        disabled>
                        {{ "tonur.packstation.search_packstation_post_office"|trans }}
                    </button>
                    {% block repertus_packstation_component_packstation_fieldset_cookie_missing_permission %}
                        <div id="TonurPackstationCookieMissingPermission" class="tonur-packstation-cookie-missing-permission-text mt-2">{{ "tonur.packstation.cookie.missing_permission"|trans }}
                            {% block repertus_packstation_component_packstation_fieldset_cookie_missing_permission_open_consent_manager %}
                                <a href="" id="repertusPackstationOpenCookie">{{ "tonur.packstation.cookie.open_consent_manager"|trans }}</a>
                            {% endblock %}
                        </div>
                    {% endblock %}
                {% endblock %}
            </div>
        </div>

        {% block repertus_packstation_component_packstation_fieldset_address_fields %}
            <div class="form-row repertusPackstationAddressFields d-none">
                <div class="form-group col-12">
                    {% block repertus_packstation_component_form_postnumber %}
                        {% if formViolations.getViolations("/repertusPackstationPostNumber") is not empty %}
                            {% set violationPath = "/repertusPackstationPostNumber" %}
                        {% elseif formViolations.getViolations("/#{prefix}/repertusPackstationPostNumber") is not empty %}
                            {% set violationPath = "/#{prefix}/repertusPackstationPostNumber" %}
                        {% endif %}

                        {% block repertus_packstation_component_form_postnumber_label %}
                            <label class="form-label" for="repertusPackstationAddressPostNumber">{{ "tonur.packstation.postnumber"|trans }}*</label>
                        {% endblock %}
                        {% block repertus_packstation_component_form_postnumber_input %}
                            <input disabled="disabled"
                                   type="text"
                                   class="form-control{% if violationPath %} is-invalid{% endif %}"
                                   id="repertusPackstationAddressPostNumber"
                                   placeholder="{{ "tonur.packstation.postnumber"|trans }}"
                                   name="repertusPackstationPostNumber"
                                   value="{{ packstationExtension.get('postNumber')|trim }}"
                                   required="required"
                                   minlength="6"
                                   maxlength="12"
                                   data-form-validation-length="6"
                                   data-form-validation-length-message="{{ "error.tonur.packstation.post_number_min_length"|trans({
                                       '%minLength%': 6
                                   })|sw_sanitize }}">
                        {% endblock %}

                        {% block repertus_packstation_component_form_postnumber_error %}
                            {% if violationPath %}
                                {% sw_include '@Storefront/storefront/utilities/form-violation.html.twig' %}
                            {% endif %}
                        {% endblock %}
                    {% endblock %}
                </div>
                <div class="form-group col-6">
                    <label class="form-label"
                           for="repertusPackstationAddressPackstationType">{{ "tonur.packstation.packstation_post_office"|trans }}</label>
                    <select class="custom-select"
                            id="repertusPackstationAddressPackstationType"
                            name="repertusPackstationAddressPackstationType"
                            required="required">
                        <option value="P"{% if packstationType is same as('P') %} selected="selected"{% endif %}>{{ "tonur.packstation.packstation"|trans }}</option>
                        <option value="F"{% if not packstationType is same as('P') %} selected="selected"{% endif %}>{{ "tonur.packstation.post_office"|trans }}</option>
                    </select>
                </div>
                <div class="form-group col-6">
                    <label class="form-label"
                           for="repertusPackstationAddressPackstationNumber">{{ "tonur.packstation.packstationnumber"|trans }}*</label>
                    <input
                        disabled="disabled"
                        type="text"
                        class="form-control"
                        id="repertusPackstationAddressPackstationNumber"
                        placeholder="{{ "tonur.packstation.packstationnumber"|trans }}"
                        name="repertusPackstationAddressPackstationNumber"
                        value="{{ packstationExtension.get('packstationNumber') }}"
                        required="required"
                        minlength="3" maxlength="3">
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}
