{% block repertus_packstation_component_packstation_search_form %}
    <form
            id="tonur-packstation-search-form"
            name="tonurPackstationSearchForm"
            method="post"
            action="{{ path("frontend.tonur.packstation.search") }}"
            data-form-csrf-handler="true">
        {{ sw_csrf('frontend.tonur.packstation.search') }}
    </form>
{% endblock %}
